:root {
  --bc: #000;
}

#nav-links {
  width: fit-content;
  margin: auto auto;
}

#nav-links button {
  padding: 5px 25px;
  cursor: pointer;
}

.box {
  width: 500px;
  margin: 10px 0;
  border: 1px solid  var(--bc);
}

.btn {
  padding: 5px 10px;
  border: 1px solid var(--bc);
  text-decoration: none;
  color: var(--bc);
}

.user-card {
  width: 500px;
  display: flex;
  margin: 5px 0;
  gap: 5px;
  text-decoration: none;
  color: var(--bc);
}

.img-plch {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bc);
}

.img-plch::after {
  content: "image";
}

.user-detls {
  width: 100%;
  padding: 0 5px;
  position: relative;
  border: 1px solid var(--bc);
}

.user-detls span {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.user-bio {
  width: 500px;
  padding: 5px;
  border: 1px solid var(--bc);
}

.form-box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  padding: 25px;
  border: 1px solid var(--bc);
  text-align: center;
}

.form-box .field {
  margin: 15px 0;
}

.form-box input[type=email],
.form-box input[type=password],
.form-box input[type=text] {
  width: 300px;
  padding: 5px;
  text-align: left;
}

.form-box input[type=submit] {
  margin: 15px 0;
  padding: 5px 20px;
  cursor: pointer;
}
